@{
    ViewData["Title"] = "About Page";
}
<br>
<br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 style="text-align: center;">Bizi tanıyın!</h1>
        Merhaba! <b>Pati Shop</b> 2020 yılında kurulmuş olup, evcil hayvanlar için ürünler satan bir on alışveriş sitesidir.
        Sitemiz köpek ve kediler için birçok özel ürünler bulunmaktadır. Evcil hayvanının için uygun olan ürünü seçip sipariş verebilirsiniz.
        <br>
    </div>
</div>
<div class="col-3"></div>
        </div>